body {
	background-color: #222;
}

h1 {
	text-align: center;
	font-family: "Luckiest Guy", cursive;
	font-size: 60px;
	color: aliceblue;
	text-shadow: -5px -5px 0 #1a1a1a, 5px -5px 0 #1a1a1a, -5px 5px 0 #1a1a1a,
		5px 5px 0 #1a1a1a;
	opacity: 0.9;
}

.csi {
	position: relative;
	left: 600px;
	top: 100px;
}

.shinchan {
	position: relative;
	left: 600px;
	top: 100px;
}

.newimg {
	position: relative;
	left: 600px;
	top: 100px;
	background: url('./shinchan.jpg');
	background-size:contain;
	width: 150px;
	height: 150px;
}