body {
	background-color: #222;
	color: white;
}

.dark-mode{
	background-color: white;
	color: #222;
}

h1 {
	text-align: center;
	font-family: "Luckiest Guy", cursive;
	font-size: 60px;
	color: aliceblue;
	opacity: 0.9;
	
}

.csi {
	position: relative;
	left: 350px;
	top: 100px;
}

.shinchan {
	position: relative;
	left: 600px;
	top: 100px;
}
