body {
	background-color: #222;
	color: white;
}

.dark-mode{
	background-color: white;
	color: #222;
}

h1 {
	text-align: center;
	font-family: "Luckiest Guy", cursive;
	font-size: 60px;
	color: aliceblue;
	opacity: 0.9;
	
}

.csi {
	position: relative;
	left: 350px;
	top: 50px;
}

.box{
	height: 50px;
	width: 50px;
	background-color: black;
	margin-right: 50%;
	text-align: center;
	font-size: 10px;
	color: white;
}

.shinchan {
	position: relative;
	left: 350px;
	top: 50px;
}

.newimg {
	position: relative;
	left: 350px;
	top: 50px;
	background: url('./s1.jpg');
	background-size:contain;
	width: 150px;
	height: 150px;
}

.p{
	display:inline-block
}
