body {
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: black;
}

.dark-mode {
	background-color: black;
	color: white;
}


h3 {
	font-weight: 300;
	margin: 0;
	font-style: italic;
}

.dad-img {
	border-radius: 50%;
	border: 3px dashed goldenrod;
	transition: transform 0.2s ease-in;
	object-fit: cover;
}

.dad-img:hover {
	border: 3px dashed rebeccapurple;
	transform: scale(1.03);
}

h1 {
	font-weight: 500;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
}

.play {
	font-weight: 400;
	font-size: 18px;
	margin-top: 30px;
	align-self: center;
	justify-self: center;
}

.dad {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
 
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  .show {display:block;}