body {
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: black;
}

.dark-mode {
	background-color: black;
	color: white;
}


h3 {
	font-weight: 300;
	margin: 0;
	font-style: italic;
}

.dad-img {
	border-radius: 50%;
	border: 3px dashed goldenrod;
	transition: transform 0.2s ease-in;
	object-fit: cover;
}

.dad-img:hover {
	border: 3px dashed rebeccapurple;
	transform: scale(1.03);
}

h1 {
	font-weight: 500;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
}

.play {
	font-weight: 400;
	font-size: 18px;
	margin-top: 30px;
	align-self: center;
	justify-self: center;
}

.dad {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropbtn {
	background-color: black;
	border-radius: 1rem;
	color: white;
	padding: 1rem;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	margin: auto;
  }

  .dropdown {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
  }

  .dropdown-content {
	display: none;
  }

  .dropdown-content a {
	text-decoration: none;
  }

  .show {
	background-color: aliceblue;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}